@font-face {
	font-family: "robotoregular";
	src: url("font/roboto-regular-webfont.woff2") format("woff2"),
		url("font/roboto-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* 
GENERAL STYLING
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
}

.hero {
	max-width: 100%;
	height: 75rem;
	background-color: #1f2937;
}

html {
	font-size: 62.5%;
	font-family: "robotoregular", Arial, Helvetica, sans-serif;
}

.container-hero {
	max-width: 130rem;
	padding: 3.2rem;
	margin: 0 auto;
}

/* 
STYLING NAV
*/

.hero-nav {
	max-width: 130rem;
	height: 14rem;
	display: flex;
	align-items: center;
	/* border: 1px solid red; */
}

.hero-nav-list {
	list-style-type: none;
	display: flex;
	margin-left: auto;
	gap: 4.8rem;
}

.hero-link p {
	color: #e5e7eb;
}

.hero-link:link,
.herolink:visited {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	text-decoration: none;
	gap: 1rem;
}

.hero-link:hover,
.hero-link:active {
	/* border-bottom: 0.2rem solid #856830; */
	transform: scale(1.1);
	transition: all 0.4s ease-in-out;
}

.hero-link p:hover {
	border-bottom: 0.2rem solid #856830;
	transition: all 0.4s ease-in-out;
}

/* 
STYLING HERO
*/

.main-hero {
	display: flex;
	max-width: 130rem;
	gap: 4.8rem;
}

/* STYLING TEXT */
.second-title-hero {
	font-size: clamp(1rem, 10vw, 2.4rem);
	color: #856830;
	line-height: 105%;
	letter-spacing: 0.5rem;
	font-weight: 400;
	margin-bottom: 3.2rem;
	word-spacing: 0.5rem;
}

.principal-title-hero {
	font-size: clamp(5rem, 10vw, 8.6rem);
	color: #f9faf8;
	line-height: 1;
	letter-spacing: -0.3rem;
	font-weight: 500;
	margin-bottom: 11.6rem;
}

img {
	max-width: 100%;
}

.main-title-hero {
	max-width: 62.6rem;
	height: 57.6rem;
	/* border: 1px solid orangered; */
}

.main-img-hero {
	max-width: 62.6rem;
	height: 57.6rem;
}

.btn-hero-anchor:link,
.btn-hero-anchor:visited {
	display: inline-block;
	padding: 1.5rem 3rem;
	border-radius: 0.9rem;
	background-color: #3882f6;
	text-decoration: none;
	color: #e5e7eb;
	font-size: 2.4rem;
	font-weight: 600;
	cursor: pointer;
}

.btn-hero-anchor:hover,
.btn-hero-anchor:active {
	transform: scale(1.1);
	transition: transform 0.4s ease-in-out;
}

/* 
FINISH STYLING HERO
*/

/* 
START STYLING MAIN
*/

.main-container {
	text-align: center;
	max-width: 100%;
	height: 70rem;
}

.title-main-container {
	text-transform: uppercase;
	font-size: 3.6rem;
	margin-top: 12.8rem;
	margin-bottom: 9.6rem;
}

.figure-main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4.8rem;
}

.img-main-container {
	border: 3px #3882f6 solid;
	border-radius: 0.9rem 0.9rem 0 0;
	padding: 0.5rem;
	display: flex;
	flex-flow: column;
	max-width: 20rem;
	max-height: 20rem;
	gap: 3.5rem;
}

.stack {
	max-width: 100%;
}

.text-img {
}

.title-figcaption .link--figcaption:link,
.title-figcaption .link--figcaption:visited {
	text-decoration: none;
	display: inline-block;
	color: #3882f6;
	font-size: clamp(0.6rem, 5vw, 1.8rem);
	font-weight: 600;
	margin-bottom: 0.8rem;
}

.paragraph-figcaption .link--figcaption:link,
.paragraph-figcaption .link--figcaption:visited {
	text-decoration: none;
	color: #555;
	font-size: clamp(0.5rem, 5vw, 1.4rem);
	line-height: 1.6;
}

/* 
FINISH STAILYNG MAIN
*/

/* 
START STAILYNG QUOTE
*/

.quote {
	max-width: 100%;
	height: 30rem;
	background-color: #e5e7eb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quote-container {
	max-width: 130rem;
	/* border: 1px solid red; */
}

.cite h2 {
	font-size: clamp(1.4rem, 10vw, 2.4rem);
	color: #555;
	font-family: "robotolight_italic", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.cite h2::before {
	content: "\275E";
	font-size: clamp(1.5rem, 10vw, 3rem);
	color: #333;
}

.cite h2::after {
	content: "\275D";
	font-size: clamp(1.5rem, 10vw, 3rem);
	color: #333;
}

.author {
	display: flex;
	justify-content: flex-end;
}

.author p {
	font-size: clamp(1rem, 5vw, 2.4rem);
	color: #333;
}

/* 
FINISH STYLING QUOTE
*/

/* 
START STYLING CALL-ACTION
*/

.call-action {
	max-width: 100%;
	height: 45rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.call-action-container {
	display: flex;
	align-items: center;
	gap: 6.4rem;
	max-width: 60%;
	height: 10rem;
	background-color: #3882f6;
	padding: 8rem 12.8rem;
}

.call-action-text h2 {
	font-size: clamp(1rem, 10vw, 2rem);
	line-height: 1.4rem;
	color: #fff;
	margin-bottom: 0.8rem;
}

.call-action-text p {
	font-size: clamp(0.4rem, 5vw, 1.4rem);
	line-height: 1.6rem;
	color: #fff;
	opacity: 0.8;
}

.call-action-btn a:link,
.call-action-btn a:visited {
	display: flex;
	padding: 0.5rem 2.4rem;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	border-radius: 0.9rem;
	text-decoration: none;
	font-weight: 600;
	font-size: clamp(0.4rem, 5vw, 1.4rem);
	color: #fff;
}

.call-action-btn a:hover,
.call-action-btn a:active {
	transform: scale(1.1);
	transition: transform 0.4s ease-in-out;
}

/* 
FINISH STYLING CALL-ACTION
*/

/* 
START STYLING FOOTER
*/

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 5rem;
	background-color: #1f2937;
	color: #fff;
}

footer p {
	opacity: 0.8;
	letter-spacing: 0.1rem;
}
